// Colors
// =========================
$gradient-primary: linear-gradient(40deg, #339dff 0%, #0ec1d3 100%);
$gradient-primary-transparent: linear-gradient(40deg, rgba(51, 157, 255, 0.3) 0%, rgba(14, 193, 211, 0.3) 100%);

$color-white: (
   default: #ffffff,
);
$color-primary: (
   default: #fafafa,
);
$color-light: (
   default: #fafafa,
);
$color-dark: (
   50: #e9e9ec,
   75: #a3a4b0,
   100: #7d7e90,
   200: #a3a4b0,
   300: #1e203f,
   400: #15162c,
   500: #121426,
   600: #0b0d18,
   default: #1e203f,
);
$color-red: (
   300: #e13535,
   default: #f83939,
   400:#C00707,
);
$color-green: (
   400: #CFFFBD,
   500: #16D563,
   600: hsl(144, 81%, 20%),
   default: #34ea7e,
);
@function color($color, $weight: default) {
   @return map-get($map: $color, $key: $weight);
}

// Fonts
// =========================
$font-primary: "Helvetica Now Display", sans-serif;


// Radius
// =========================
$inner-radius: 0.625rem;
$outer-radius: $inner-radius * 2;